<div class="body">
  <% if @streak.positive %>
    <%= "YAY! Zdrowik has been programming for #{pluralize(@no_of_days, 'day')}" %>
  <% else %>
    <%= "Zdrowik hasn't been programming for #{pluralize(@no_of_days, 'day')}" %>
  <% end %>
</div>
